* {
  margin: 0;
  padding: 0;
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
}

:root {
  background: black;
}

:root,
body {
  margin: 0;
  padding: 0;
}

.green {
  color: #07C007;
}

.silver {
  color: #9a9a9a;
}

.title {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.chevron {
  display: inline-block;
  transform: scaleY(175%);
}

.fadeInDown {
  opacity: 0;
  animation-name: fadeInDown;
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
}

.fadeOutUp {
  opacity: 1;
  animation-name: fadeOutDown;
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
}

#bg {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#bg .bg-item {
  position: absolute;
  top: -200px;
  left: 100%;
  height: calc(100% + 500px);
  width: 300px;
  background: radial-gradient(ellipse at top, rgba(0, 255, 170, 0.12), rgba(0, 255, 170, 0.06) 35%, rgba(0, 255, 170, 0.03) 55%, transparent 70%);
  animation-name: bgItemFrame;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

header {
  border-bottom: #00ff00 solid 0.15rem;
  padding-left: 15px;
  background: black;
}

header h1,
header span {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
}

header h1 {
  padding-left: 15px;
  animation-name: charLeftInParent;
  animation-fill-mode: forwards;
}

header h1 span {
  padding-left: 30px;
  opacity: 0;
  animation-name: charLeftIn;
  animation-fill-mode: forwards;
}

.content {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-text {
  display: flex;
  gap: 25px;
}

.image-with-text .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-with-text .details p {
  font-weight: bold;
  max-width: 60ch;
}

.image-with-text > img {
  max-width: min(45vw, 400px);
  border-radius: 25px;
  box-shadow: rgba(91, 201, 81, 0.75) -2px 2px 10px;
}

.cardList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardItem {
    width: 15rem;
    height: 20rem;
    margin: .5rem;
    border-radius: .5rem;
    border: .1rem solid #07C007;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardItem .codeLink, .cardItem .projectLink {
    text-align: center;
    padding: .3rem 0;
    border-bottom: .1rem solid #00FF00;
}

.cardItem .codeLink:hover, .cardItem .projectLink:hover {
    background: rgba(0, 255, 0, .2);
}

.cardItem .codeLink:active, .cardItem .projectLink:active {
    background: rgba(0, 255, 0, .4);
}

.cardItem .projectContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardItem .projectContent img {
    width: 14rem;
    margin: .5rem;
}

.cardItem .projectContent h3 {
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 0;
    padding-bottom: .4rem;
}

.cardItem .projectContent .fill {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 255, 0, .5) transparent;
}

.cardItem .projectContent .fill::-webkit-scrollbar {
    width: .4rem;
}

.cardItem .projectContent .fill::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 0, .5);
}

.cardItem .projectContent .fill p {
    text-align: center;
    margin: 0 .2rem .5rem .2rem;
}





@keyframes bgItemFrame {
  from {
    left: 150%;
    transform: translateX(0) rotate(var(--rotation, 0deg));
  }

  to {
    left: -50%;
    transform: translateX(-100%) rotate(var(--rotation, 0deg));
  }
}

@keyframes charLeftIn {
  from {
    opacity: 0;
    padding-left: 30px;
  }

  to {
    opacity: 1;
    padding-left: 0px;
  }
}

@keyframes charLeftInParent {
  from {
    padding-left: 15px;
  }

  to {
    padding-left: 0px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(25%);
  }
}

@media screen and (max-width: 30rem) {
  .image-with-text {
    flex-direction: column-reverse;
  }

  .image-with-text > img {
    max-width: min(60vw, 400px);
  }
}

@media screen and (max-width: 38rem) {
  .content {
    padding: 5px 15px;
  }
}
