* {
    margin: 0;
    padding: 0;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
}

body {
    /*
    Gradient from GradientMagic:
    https://www.gradientmagic.com
    */
    background-image: linear-gradient(66deg, transparent 0%, transparent 24%,rgba(195, 195, 195,0.04) 24%, rgba(195, 195, 195,0.04) 80%,transparent 80%, transparent 100%),linear-gradient(153deg, transparent 0%, transparent 29%,rgba(195, 195, 195,0.04) 29%, rgba(195, 195, 195,0.04) 45%,transparent 45%, transparent 100%),linear-gradient(199deg, transparent 0%, transparent 32%,rgba(195, 195, 195,0.04) 32%, rgba(195, 195, 195,0.04) 59%,transparent 59%, transparent 100%),linear-gradient(277deg, transparent 0%, transparent 56%,rgba(195, 195, 195,0.04) 56%, rgba(195, 195, 195,0.04) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    background-size: 100vw 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    border-bottom: #00FF00 solid .15rem;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    margin: .25rem 0 0 .5rem;
}

header span {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}

#me p {
    font-size: 1.2rem;
    margin: .1rem 1rem;
}

#socialBlinder {
    position: relative;
    height: 0px;
    transition: height 500ms ease-in-out;
    overflow: hidden;
}

.socialInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 100ms ease-in-out;
    opacity: 0;
}

.socialInfo.active {
    transition: opacity 250ms 100ms ease-in-out;
    opacity: 1;
    z-index: 9999;
}

.socialInfo .socialInfoTitle {
    font-size: 1.7rem;
}

.socialInfo .socialInfoSubtitle {
    font-size: 1.3rem;
}

.socialInfo .socialInfoText {
    font-size: 1.2rem;
}

.cardWrapper {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid #00FF00 .1rem;
    background: rgba(0, 0, 0, .4);
    transition: border-radius 250ms ease-in-out;
}

.cardWrapper:hover {
    border-radius: 3rem;
}

.cardWrapper > i {
    color: #00FF00;
    font-size: 2.7rem;
    margin-right: .5rem;
}

#socials > .socialWrapper {
    margin: 1rem .5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#socials > .socialWrapper > i:first-of-type {
    font-size: 3rem;
    color: #777777;
    transition: transform 250ms ease-in-out, color 250ms ease-in-out;
}

#socials > .socialWrapper.active > i:first-of-type {
    transform: scale(1.2);
    color: #00FF00;
}

#socials > .socialWrapper > i:last-of-type {
    font-size: 1.5rem;
    display: inline-block;
    color: #00FF00;
    opacity: 0;
    transform: scaleX(1.75) translateY(-2rem);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

#socials > .socialWrapper.active > i:last-of-type {
    opacity: 1;
    transform: scaleX(1.75) translateY(0);
}

.socialInfo h3 {
    font-size: 1.4rem;
}

#twitch-video {
    height: 20rem;
    width: 35rem;
    max-width: 75%;
}

#twitch-chat {
    height: 20rem;
    width: 30rem;
    min-width: 300px;
    max-width: 30%;
}

.videoSplit {
    display: flex;
}

.videoSplit > section {
    text-align: center;
    margin: .5rem;
}

.YTVideo {
    height: 15rem;
    width: 28rem;
    max-width: 100%;
}

.animateFadeIn span {
    display: inline-block;
}

.greenFont, .greenFont span {
    color: #00FF00;
}

.inlineBlock {
    display: inline-block;
}

.blockMarking {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pushAway {
    margin: .3rem 0 0 .5rem;
}

.pushIn {
    margin: 1rem;
}

.pushDown {
    margin-top: 1rem;
}

.cardList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardItem {
    width: 15rem;
    height: 20rem;
    margin: .5rem;
    border-radius: .5rem;
    border: .1rem solid #00FF00;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardItem .codeLink, .cardItem .projectLink {
    text-align: center;
    padding: .3rem 0;
    border-bottom: .1rem solid #00FF00;
}

.cardItem .codeLink:hover, .cardItem .projectLink:hover {
    background: rgba(0, 255, 0, .2);
}

.cardItem .codeLink:active, .cardItem .projectLink:active {
    background: rgba(0, 255, 0, .4);
}

.cardItem .projectContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardItem .projectContent img {
    width: 14rem;
    margin: .5rem;
}

.cardItem .projectContent h3 {
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 0;
    padding-bottom: .4rem;
}

.cardItem .projectContent .fill {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 255, 0, .5) transparent;
}

.cardItem .projectContent .fill::-webkit-scrollbar {
    width: .4rem;
}

.cardItem .projectContent .fill::-webkit-scrollbar-track {
}

.cardItem .projectContent .fill::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 0, .5);
}

.cardItem .projectContent .fill::-webkit-scrollbar-corner {
}

.cardItem .projectContent .fill p {
    text-align: center;
    margin: 0 .2rem .5rem .2rem;
}

.translateUp {
    display: inline-block;
    transform: translateY(-10%);
}

@keyframes fadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInScale {
    0% {
        transform: translateX(-100%) scaleY(2);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0) scaleY(2);
        opacity: 1;
    }
}

@keyframes endFadeIn {
    0% {
        transform: translateX(1rem);
    }
    
    100% {
        transform: translateX(0);
    }
}

@keyframes simpleFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeScale {
    0% {
        transform: scale(.2);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform: rotateY(90deg);
    }
    
    100% {
        transform: rotate(0);
    }
}

@media screen and (max-width:60rem) {
    .videoSplit {
        flex-direction: column;
    }
}

@media screen and (max-width:58rem) {
    #twitch-container {
        flex-direction: column;
    }
    #twitch-video {
        width: 100%;
        max-width: 100%;
    }
    #twitch-chat {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:25rem) {
    .YTVideo {
        height: 10rem;
    }
}

@media screen and (max-width:17.5rem){
    .cardWrapper {
        padding: 0;
        margin: 0;
    }
}
