#magic-text-area {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#magic-text-area h1 {
    font-size: 5rem;
}
#magic-text-area h2 {
    font-size: 2.5rem;
    transform: translateY(-1rem);
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    display: inline-block;
    padding: 0 1rem;
    border-top-right-radius: 1rem;
    background: rgba(0, 0, 0, .2);
    border: .2rem solid #000000;
    border-bottom: none;
    border-left: none;
    margin-top: 1rem;
}

div.TitleBody {
    border-top: .2rem solid #000000;
    border-bottom: .2rem solid #000000;
    background: rgba(0, 0, 0, .2);
    display: flex;
}

div.TitleBody aside {
    display: flex;
    flex-direction: column;
}

div.TitleBody aside:nth-child(1) {
    border-right: .2rem solid #000000;
}

div.TitleBody aside:nth-child(1) i {
    font-size: 4rem;
    margin: 1rem 2rem;
    color: #2e2e2e;
}

div.TitleBody aside:nth-child(1) i.active {
    transform: scale(1.2);
    color: #000000;
}

div.TitleBody aside:nth-child(2) {
    flex: 5;
}

div.TitleBody aside:nth-child(2) div.social {
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: .5rem;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.TitleBody aside:nth-child(2) div.social h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin-bottom: .5rem;
}

#twitch-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

#twitch-video {
    height: 20rem;
    width: 35rem;
    max-width: 75%;
}

#twitch-chat {
    height: 20rem;
    width: 20rem;
    min-width: 210px;
    max-width: 25%;
}

#YouTubeIframe {
    height: 22.5rem;
    width: 40rem;
    max-width: 100%;
}

.cardWrapper {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    background: rgba(0, 0, 0, .4);
    border: #000000 solid .1rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    transition: border-radius 250ms ease-in-out;
    max-width: 100%;
    overflow: hidden;
}

.cardWrapper:hover {
    border-radius: 4rem;
}

.cardWrapper section:nth-child(1) {
    margin-right: 1rem;
}

.cardWrapper section:nth-child(1) i {
    font-size: 3rem;
}

.cardWrapper section:nth-child(2) h3 {
    font-size: 1.5rem;
}

#twitter-widget-0 {
    height: 26rem !important;
    width: 20rem !important;
}

/* WebPages + Projects section */

section#PagesSection .TitleBody, section#ProjectSection .TitleBody {
    display: block;
}

.InformativeText {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.TitleBodyBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem;
    padding-bottom: 1rem;
}

div.ProjectItem {
    display: flex;
    flex-direction: column;
}

.TitleBodyBottom div.PageContent {
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, .2);
}

.TitleBodyBottom div.PageContent:hover {
    background: rgba(0, 0, 0, .2);
}

.TitleBodyBottom div.PageContent::-webkit-scrollbar {
    width: .5rem;
    background: rgba(0, 0, 0, .2);
}

.TitleBodyBottom div.PageContent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 1rem;
}

.TitleBodyBottom div.ProjectItem {
    width: 16rem;
    height: 16rem;
    margin: 1rem;
    background: rgba(0, 0, 0, .3);
    border-radius: 1rem;
    overflow: hidden;
}

.CodeLink {
    color: #000000;
    text-align: center;
    font-size: 1.1rem;
}

.CodeLink:hover {
    font-weight: bold;
    background: rgba(0, 0, 0, .2);
}

.ProjectLink {
    color: #000000;
    text-align: center;
    text-decoration: none;
    height: 12rem;
}

.ProjectLink.OneLink {
    height: 100%;
}

.TitleBodyBottom div.ProjectItem::-webkit-scrollbar {
    background: rgba(0, 0, 0, .2);
}

.TitleBodyBottom div.ProjectItem::-webkit-scrollbar-corner {
}

.TitleBodyBottom div.ProjectItem img {
    width: 13rem;
}

/* WebPages  + Projects section */


@media screen and (max-width:30rem) {
    div.TitleBody {
        flex-direction: column;
    }
    div.TitleBody aside:nth-child(1) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    div.TitleBody aside:nth-child(1) i {
        margin: .5rem;
    }
}

/* twitch tab */
@media screen and (max-width:42.2rem) {
    #twitch-container {
        flex-direction: column;
    }
    #twitch-video {
        width: 100%;
        max-width: 100%;
    }
    #twitch-chat {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:25rem){
    #magic-text-area h1 {
        font-size: 20vw;
    }
    #magic-text-area h2 {
        font-size: 9vw;
    }
}

@media screen and (max-width:17.5rem){
    .cardWrapper {
        padding: 0;
        margin: 0;
    }
}